@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

:root {
  --black: #323232;
  --white: #FFFFFF;
  --red: #C0171E; 
  --bgInput: #D9D9D9;
  --bgButton: #F67777;
  --fontFamily : "Jomolhari", serif;
  --br-cards: 20px;
  --br-input:5px;
  --br: 5px;
  }

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--fontFamily);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  scale: 160%;
}

/* apenas colocar tags, classes alocar nos modules */

